[
  {kernel, [
    {inet_dist_use_interface, {10,11,1,1}},
    {inet_dist_listen_min, 25672},
    {inet_dist_listen_max, 25672}
  ]},
  {rabbit, [
    {tcp_listeners, [{"10.11.1.1", 5672}]},
    {cluster_partition_handling, autoheal}
  ]},
  {rabbitmq_management, [
    {listener, [
      {ip, "10.10.1.1"},
      {port, 15672}
    ]},
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]},
  {rabbitmq_clusterer, [{config, "/etc/rabbitmq/rabbitmq-clusterer.config"}]}
].
% EOF
